.desc {
    h1,h2,h3,h4 {
        font-weight: bold;
        font-size: x-large;
    }
    p {
        font-size: small;
        font-weight: 500;
        color:gray
    }

}

.parent:hover {
    ul {
        display: block;
    }
}